name: Lighthouse CI
on: [push]
jobs:
  lighthouse:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Audit URLs using Lighthouse
        uses: treosh/lighthouse-ci-action@v12
        with:
          urls: |
            https://meghannstoneham.com.au
          budgetPath: ./budget.json
          uploadArtifacts: true
          temporaryPublicStorage: true

